<%# add navigation links to this file %>
<!-- Favicon -->
	<link rel="shortcut icon" type="image/jpg" href="/favicon.ico"/>
	<link rel="shortcut icon" type="image/jpg" href="../SCApp_rails/app/assets/images/favicon.ico"/>

<%# add navigation links to this file %>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
						
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/nica_snapshots">NICARAGUA SNAP-SHOTS</a>
					</li>
								</div>
						</li> 
						<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							PROGRAMS
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/medical">MEDICAL</a>
							<a class="dropdown-item" href="/dental">DENTAL</a>
							<a class="dropdown-item" href="/education">EDUCATION SUPPORT</a>
							<a class="dropdown-item" href="#">THE INNOVATION LAB</a>
							<a class="dropdown-item" href="/FAQ">FAQs</a>
							<a class="dropdown-item" href="/COC">CODE OF CONDUCT</a>
						</div>
					</li>
<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								TRIPS
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">UPCOMING TRIPS</a>
								<a class="dropdown-item" href="/payment">MAKE A PAYMENT</a>
								</div>
						</li>
						<li class="nav-item">
								<a class="nav-link" href="#">LOGIN</a>
							</li>
							<li class="nav-item">
									<a class="nav-link" href="/team">MEET OUR TEAM</a>
								</li>
								<li class="nav-item">
										<a class="nav-link" href="#">CONTACT US</a>
									</li>
			</div>
					<!-- <li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li> -->
				<!--<form class="form-inline">
								<div class="input-group">
									<div class="input-group-prepend">
									</div>
									<input type="text" class="form-control" placeholder="Search" aria-label="Search">
								</div> 
							</form> -->
